@model Order

}
<form></form>

<form>
    <input type="checkbox" checked="checked" value="CreditCard">Credit Card<br>
    <input type="checkbox" value="Paypal"> Paypal
</form>

<a class="btn btn-primary" asp-controller="Order" asp-action="OrderStatus">Confirm Details</a>



