@model Order

<h1>Its on its way...</h1>

<h4>Order Confirmation: @Model.OrderId</h4>



<h2>Your Order summary</h2>
 @foreach (var order in Model.OrderLines)
 {
     <div>@order.Equipment.Name</div>
     <div>@order.Price</div>
     <div>@order.Amount</div>
     
 }
