@model HomeViewModel

@await Html.PartialAsync("Carousel")

<div>
    <h2 class="text-center">This is the online medical equipment store</h2>

    <p>Get the equipment for your needs here!</p>

    <div class="container"><h3 >Medical System Information</h3></div>
    <div class="container">
        <div class="row row-flex row-flex-wrap">
            <div class="col-md-4">
                <div class="well">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                </div>
            </div>

        </div><!--/row-->
    </div><!--/container-->
    <hr>
</div>

