@model IEnumerable<MedicalSystem.Components.AdminMenuItem>

<!--This is for the admin menu defined in the componet menu-->
<li class="dropdown">
    <a asp-controller="Admin"   asp-action="Index"
       class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (var menuItem in Model)
        {
            <li>
                <a asp-controller="Admin" asp-action=@menuItem.ActionValue>@menuItem.DisplayValue</a>
            </li>
        }
    </ul>
</li>